* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.navbar {
  display: flex;
  align-items: center;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 40px;
}
a {
  text-decoration: none;
  color: #443e2f;
  font-size: 20px;
}
nav ul li a:hover {
  color: #ed7a07;
  font-weight: 700;
  font-size: 25px;
  transition: 0.3s;
}
.logo:hover{
  cursor: pointer;
}
.menu-icon{
  width: 28px;
  margin-left: 20px 0;
  display: none;
}
.container {
  max-width: 1300px;
  padding-left: 25px;
  margin: auto;
  padding-right: 25px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  padding-left: 80px;
}
.col-2 img {
  max-width: 100%;
}
.col-2 h1 {
  font-size: 50px;
  margin: 20px 0;
}
.btn {
  display: inline-block;
  background: #443e2f;
  color: white;
  padding: 10px 30px;
  margin: 20px 0;
  border-radius: 30px;
  transition: 0.5s;
}
.btn:hover {
  background-color: #ed7a07;
  color: black;
  font-weight: 700;
}
.header {
  background: radial-gradient(#fff, rgba(237, 122, 7, 0.5));
}
#cart {
  margin-right: 30px;
  font-size: 36px;
  cursor: pointer;
}
#cart:hover {
  color: #ed7a07;
  font-size: 40px;
}
.categories{
  margin: 50px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 100%;
  
}
.col-3 img:hover{
  height: 600px;
  width: 400px;
  transition: 0.5s;
  cursor:zoom-in;
  position: relative;
  border-radius: 40px;
  box-shadow:  #ed7a07 20px 20px 10px;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;

}
.col-4{
  flex-basis: 25%; 
  min-width: 200px;
  margin-bottom: 50px;
  padding: 10px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 100%;
}
.col-4{
  color: #443e2f;
}
.col-4:hover{
  transform: translateY(-15px);
  cursor: pointer;
}
.rating{
  color: #ed7a07;
}
.title{
  text-align: center;
  font-size: 35px;
  margin: 0 auto 80px;
  position: relative;
  color: #443e2f;
}
.title:hover{
  border: 3px #ed7a07 solid;
  transition: 0.5s;
  background-color: #ed7a07;
  border-radius:40px;
  cursor: pointer;
}      
.description{
  font-size: 17px;
}
#buy-btn{
  display: flex;
  justify-content: center;
}
.image-container{
  display: inline-block ;
  overflow: hidden;
}
.offer-img{
  display: block;
  cursor:pointer;
  transition: transform 0.5s ease;

}
.image-container:hover .offer-img{
  transform: scale(1.2) rotate(10deg);  
}
h3{
  color: #443e2f;
}
.testimonials{
  padding: 100px;
}
.testimonials .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  filter: grayscale(100%);
}
.testimonials .col-3:hover{
  transform: translateY(-10px);
  cursor: pointer;
  filter: contrast(100%);
}
.testimonials .rating{
  padding-top: 10px;
}
.fa.fa-quote-left{
  color: #ed7a07;
}
.comment{
  color: #443e2f;
}
.brands{
  margin: 40px auto;
}
.col-5{
  width: 160px;

}
.col-5 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover{
  filter: contrast(100%);

}
.footer{
  background: #443e2f;
  color:#ed7a07;
  font-size: 14px;
  padding: 0 0 20px;
}
.footer p{
  color: #fafafa;
}
.footer h3{
  color: #fafafa;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 1;
  text-align: center;

}
.footer-col-2 p{
  margin-bottom: 10px;
  font-size: 15px;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style-type: none;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
.copyright{
  text-align: center;
}
.footer .container hr{
  margin-top: 20px 0;
  background: #ed7a07;
  height: 1px;
  border: none;
}
.row-2{
  justify-content: space-between;
  margin: 40px auto 40px 14px;
  font-size: 24px;
  
}
select{
  border: 1px solid #443e2f;
  padding: 5px;
  background-color: rgba(237, 122, 7, 0.8);
  border-radius: 15px;
  margin-right: 10px;
}
select:focus{
  outline: none;
}
.page-btn{
  margin: 0 auto 30px ;
  font-weight: 700;
}
.page-btn span{
  display: inline-block;
  border: 2px solid #443e2f;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 40px;
  transition: 0.5s;
}
.page-btn span:hover{
  background-color: #ed7a07;
  transform: translateY(8px)
}
.single-product{
  margin-top: 50px;
}
.single-product .col-2 img{
  padding: 0;
}
.single-product .col-2{
  padding: 10px;
}
.single-product h4{
  margin: 20px 0;
  font-size: 18px; 
}
.single-product select{
  display: block;
}
.single-product input{
  width: 50px;
  height: 30px;
  margin-top: 15px;
  margin-left: 14px;
  padding-left: 17px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #443e2f;
}
.small-img-col{
    flex-basis: 80%;
}
.small-img-col:hover{
  cursor: pointer;

}
.small-img-col-dir{
  display: flex;
  flex-direction: row;
  justify-content: space-around

}
.small-img-row{
  display: flex;
  justify-content: space-between;
}
.cart-page{
  margin: 80px auto;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  color: #443e2f;
  background: rgba(237, 122, 7, 0.5);
  font-weight: normal;
}
td{
  padding: 10px 5px;
}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a{
  color: #443e2f;
}
td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.total-price{
  display: flex;
  justify-content: flex-end;
}
.total-price table{
  border-top: 3px solid #443e2f;
  width: 100%;
  max-width: 350px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}

@media only screen and (max-width:800px){
  nav ul{
    margin-top: 15px;
    position: absolute;
    top: 70px;
    left: 0;
    background: #443e2f;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li{
    display: block;
    margin: 10px;
    margin-right: 50px;
    margin-bottom: 10px;

  }
  nav ul li a{
    color: #fafafa;
  }
  .navbar .menu-icon{
    display: block;
    cursor: pointer;
  }
}
/* media query for less than 600px screen */

@media only screen and (max-width: 600px){
  .row{
    text-align: center;
  }
  .col-2, .col-3, .col-4{
    flex-basis: 100%;
  }
  .single-product{
    text-align: left;
  }
  .single-product .col-2{
    padding: 30px 0;
  }
}


